{% extends "base.html" %}

{% block title %}Dons - Work{% endblock %}

{% block content %}
<form action="{{ url_for('search') }}" method="get" style="text-align: center;">
    <input type="text" name="q" value="{{ query }}" placeholder="Entrez votre recherche ...">
    <button type="submit">Rechercher</button>
</form>

<div style="text-align: center;">
    <h1><ins>Nos donnateurs<ins></h1>
    <h2>🥇: Mayeul Fons</h2>
    <h3>🥈: Pas de donnateur</h3>
    <h4>🥉: Pas de donnateur</h4>
 <p style="margin-top: 20px;">
    <a href="https://paypal.me/Globieyt" target="_blank" style="background-color: #4285f4; color: white; padding: 10px 15px; text-decoration: none; border-radius: 5px;">
        Faire un don
    </a>
</p>
</div>
{% endblock %}