{% extends "base.html" %}

{% block title %}Liens Utiles - Work{% endblock %}

{% block content %}


<form action="{{ url_for('search') }}" method="get">
    <input type="text" name="q" value="{{ query }}" placeholder="Entrez votre recherche...">
    <button type="submit">Rechercher</button>
</form>


<h1>Liens Utiles</h1>

<div class="useful-links">
    {% for link in useful_links %}
    <div class="link-item">
        <h2><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></h2>
        <p>{{ link.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
